Player Count
->Total Number of Players

Purchasing Analysis (Total)
->Number of Unique Items
->Average Purchase Price
->Total Number of Purchases
->Total Revenue

Gender Demographics
->Percentage and Count of Male Players
->Percentage and Count of Female Players
->Percentage and Count of Other / Non-Disclosed

Purchasing Analysis (Gender)
The below each broken by gender
->Purchase Count
->Average Purchase Price
->Total Purchase Value
->Average Purchase Total per Person by Gender

In [1]:
import pandas as pd

In [2]:
purchase_df = pd.read_csv("/home/neosoft/Documents/CSVFiles/purchase_data.csv")
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

# Player Count

In [3]:
#Total Number of Players
players = purchase_df['SN'].unique()
players_count = len(players)
players_count

#Create Summary Player Count DataFrame
players_count_table = pd.DataFrame([players_count], columns=["Total Players"])
players_count_table

   Total Players
0            576

# Purchasing Analysis (Total)

Number of Unique Items

In [4]:
unique_items = purchase_df['Item ID'].unique()
unique_items_count = len(unique_items)
unique_items_count

183

Average Purchase Price

In [5]:
average_purchase_price = "${:.3f}".format(purchase_df['Price'].mean())
average_purchase_price

'$3.051'

Total Number of Purchases

In [6]:
total_purchases = purchase_df['Purchase ID'].unique()
total_purchases_count = len(total_purchases)
total_purchases_count

780

Total Revenue

In [7]:
total_revenue = purchase_df['Price'].sum()
total_revenue

2379.77

In [8]:
#Create Summary Purchase Analysis DataFrame
purchasing_analysis_table = pd.DataFrame({
    "Number of Unique Items": [unique_items_count],
    "Average Purchase Price": [average_purchase_price],
    "Number of Purchases": [total_purchases_count],
    "Total Revenue": [total_revenue]
})

purchasing_analysis_table["Total Revenue"] = purchasing_analysis_table["Total Revenue"].map("${0:,.3f}".format)

purchasing_analysis_table

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,183,$3.051,780,"$2,379.770"

# Gender Demographics

Percentage and Count of Male Players

In [9]:
#Number of Male Players
male_players = purchase_df.loc[purchase_df["Gender"] == "Male"]
male_players_count = len(male_players['SN'].unique())
print("Number of Male Players: ", male_players_count)

#Percentage of Male Players
male_percent = "{:.2f}%".format(male_players_count / players_count * 100)
male_percent

Number of Male Players:  484

'84.03%'

Percentage and Count of Female Players

In [10]:
#Number of Female Players
female_players = purchase_df.loc[purchase_df["Gender"] == "Female"]
female_players_count = len(female_players['SN'].unique())
print("Number of Female Players: ", female_players_count)

#Percentage of Female Players
female_percent = "{:.2f}%".format(female_players_count / players_count * 100)
female_percent

Number of Female Players:  81

'14.06%'

Percentage and Count of Other/Non-Disclosed

In [11]:
#Number of Other/Non-Disclosed Players
other_players = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed"]
other_players_count = len(other_players["SN"].unique())
print("Number of Other/Non-Disclosed Players: ", other_players_count)

#Percentage of Other/Non-Disclosed Players
other_players_percent = "{:.2f}%".format(other_players_count / players_count * 100)
other_players_percent

Number of Other/Non-Disclosed Players:  11

'1.91%'

In [12]:
#Create Summary Gender Demographic DataFrame

gender_demographics_table = pd.DataFrame([{
    "Gender": "Male", "Total Count": male_players_count,
    "Percentage of Players": male_percent},
    
    {"Gender": "Female", "Total Count": female_players_count,
    "Percentage of Players": female_percent},
    
    {"Gender": "Other / Non-Disclosed", "Total Count": other_players_count,
    "Percentage of Players": other_players_percent
}])

gender_demographics_table = gender_demographics_table.set_index("Gender")
gender_demographics_table.index.name = None
gender_demographics_table

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

# Purchasing Analysis (Gender)

The below each broken by gender

Purchase Count

In [13]:
#Purchase Count of Male Players
male_purchase = purchase_df.loc[purchase_df["Gender"] == "Male"]
#male_purchase_count = male_purchase.shape[0]
male_purchase_count = len(male_purchase["Purchase ID"].unique())
print("Purchase Count of Male Players: ", male_purchase_count)

#Purchase Count of Female Players
female_purchase = purchase_df.loc[purchase_df["Gender"] == "Female"]
female_purchase_count = female_purchase.shape[0]
print("Purchase Count of Female Players: ", female_purchase_count)

#Purchase Count of Other/Non-Disclosed Players
other_players_purchase = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed"]
other_players_purchase_count = other_players_purchase.shape[0]
print("Purchase Count of Other/Non-Disclosed  Players: ", other_players_purchase_count)

Purchase Count of Male Players:  652
Purchase Count of Female Players:  113
Purchase Count of Other/Non-Disclosed  Players:  15

Average Purchase Price

In [14]:
#Average Purchase Price of Male Players
avg_male_purchase_price = purchase_df.loc[purchase_df["Gender"] == "Male", ["Price"]].mean()
avg_male_purchase_price = "${:.2f}".format(avg_male_purchase_price[0])
print("Average Purchase Price of Male Players: ", avg_male_purchase_price)

#Average Purchase Price of Female Players
avg_female_purchase_price = purchase_df.loc[purchase_df["Gender"] == "Female", ["Price"]].mean()
avg_female_purchase_price = "${:.2f}".format(avg_female_purchase_price[0])
print("Average Purchase Price of Female Players: ", avg_female_purchase_price)

#Average Purchase Price of Other/Non-Disclosed Players
avg_other_purchase_price = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed", ["Price"]].mean()
avg_other_purchase_price = "${:.2f}".format(avg_other_purchase_price[0])
print("Average Purchase Price of Other/Non-Disclosed Players: ", avg_other_purchase_price)

Average Purchase Price of Male Players:  $3.02
Average Purchase Price of Female Players:  $3.20
Average Purchase Price of Other/Non-Disclosed Players:  $3.35

Total Purchase Value

In [15]:
#Total Purchase Value of Male Players
total_male_purchase_value = purchase_df.loc[purchase_df["Gender"] == 'Male', ["Price"]].sum()
total_male_purchase_val = "${:,.2f}".format(total_male_purchase_value[0])
print("Total Purchase Value of Male Players: ", total_male_purchase_val)

#Total Purchase Value of Female Players
total_female_purchase_value = purchase_df.loc[purchase_df["Gender"] == 'Female', ["Price"]].sum()
total_female_purchase_val = "${:.2f}".format(total_female_purchase_value[0])
print("Total Purchase Value of Female Players: ", total_female_purchase_val)

#Total Purchase Value of Other/Non-Disclosed Players
total_other_purchase_value = purchase_df.loc[purchase_df["Gender"] == 'Other / Non-Disclosed', ["Price"]].sum()
total_other_purchase_val = "${:.2f}".format(total_other_purchase_value[0])
print("Total Purchase Value of Other/Non-Disclosed Players: ", total_other_purchase_val)

Total Purchase Value of Male Players:  $1,967.64
Total Purchase Value of Female Players:  $361.94
Total Purchase Value of Other/Non-Disclosed Players:  $50.19

Average Purchase Total per Person by Gender

In [16]:
#Average Purchase Total per Person of Male Player
avg_male_purchase_total_person = total_male_purchase_value[0] / male_players_count
print("Average Purchase Total per Male Player:  ", avg_male_purchase_total_person)

#Average Purchase Total per Person of Female Player
avg_female_purchase_total_person = total_female_purchase_value[0] / female_players_count
print("Average Purchase Total per Female Player:  ", avg_female_purchase_total_person)

#Average Purchase Total per Person of Other/Non-Disclosed Player
avg_other_purchase_total_person = total_other_purchase_value[0] / other_players_count
print("Average Purchase Total per Other/Non-Disclosed Player:  ", avg_other_purchase_total_person)

Average Purchase Total per Male Player:   4.065371900826446
Average Purchase Total per Female Player:   4.468395061728395
Average Purchase Total per Other/Non-Disclosed Player:   4.5627272727272725

In [17]:
#Create Summary Gender Purchase Analysis DataFrame
gender_purchasing_analysis_table = pd.DataFrame([{
    
    "Gender": "Male", "Purchase Count": male_purchase_count,
    "Average Purchase Price": avg_male_purchase_price,
    "Total Purchase Value": total_male_purchase_val,
    "Average Total Purchase Per Person": "${:.2f}".format(avg_male_purchase_total_person)},
    
    {"Gender": "Female", "Purchase Count": female_purchase_count,
    "Average Purchase Price": avg_female_purchase_price,
    "Total Purchase Value": total_female_purchase_val,
    "Average Total Purchase Per Person": "${:.2f}".format(avg_female_purchase_total_person)},
    
    {"Gender": "Other / Non-Disclosed", "Purchase Count": other_players_purchase_count,
    "Average Purchase Price": avg_other_purchase_price,
    "Total Purchase Value": total_other_purchase_val,
    "Average Total Purchase Per Person": "${:.2f}".format(avg_other_purchase_total_person)
}])

gender_purchasing_analysis_table = gender_purchasing_analysis_table.set_index("Gender")
gender_purchasing_analysis_table.index.name = None
gender_purchasing_analysis_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56